<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71225842036-g8qofljt81h02k68jrjftt4h80opglkf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71225842036-g8qofljt81h02k68jrjftt4h80opglkf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>71225842036-cbqm5jnh4l8vknjbobda5mrv3dnq1ln1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmk8R1RmwmuvFv0zXqzjHfPlcUNGtp-9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>71225842036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.FlutterApplications</string>
	<key>PROJECT_ID</key>
	<string>socialapp-22c19</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-22c19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71225842036:ios:6badb8d5e9117a3b7cb421</string>
</dict>
</plist>